Source: graphouse
Priority: optional
Maintainer: Dmitry Andreev <AndreevDm@yandex-team.ru>
Homepage: https://github.com/yandex/graphouse
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Section: libdevel

Package: graphouse
Architecture: all
Depends: graphouse-py (= ${binary:Version})
Description: Connect your ClickHouse and Graphite-Web

Package: graphouse-py
Architecture: all
Depends:
Description: Python bindings for graphite-web and graphite-api to graphouse
