#!/usr/bin/make -f

package=yandex-graphouse

%:
	dh $@

override_dh_clean:
	./gradlew clean
	dh_clean

override_dh_build:
	./gradlew build
	dh_build

override_dh_install:
	./gradlew prepareDebuild
	dh_install

override_dh_installinit:
	dh_installinit --name=graphouse --noscripts

