<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Async name="ASYNC">
            <AppenderRef ref="MAIN"/>
        </Async>
        <RollingFile name="MAIN" fileName="/var/log/graphouse/graphouse.log"
                     filePattern="/var/log/graphouse/graphouse-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d %-5p [%c{1} %t] %m%n"/>
            <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>
