<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Async name="ASYNC">
            <AppenderRef ref="MAIN"/>
        </Async>
        <RollingFile name="MAIN" fileName="${sys:app.home}/log/graphouse.log"
                     filePattern="${sys:app.home}/log/graphouse-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d %-5p [%c{1} %t] %m%n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:app.home}/log" maxDepth="1">
                    <IfFileName glob="graphouse-*.log.gz"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>
